@import '../../../assets/styles/variables.scss';

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  h2 {
    margin: 1em 0;
  }

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: $black;
    text-overflow: ellipsis;
    color: $white;
    border-radius: 4px;
    box-shadow: none;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: inherit;
    outline: none;
    border: none;
  }

  .generator-btn {
    display: inline-block;
    width: 250px;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 0.4em 0;
    font-size: 1.75em;
    background-color: $black;
    color: $white;
    cursor: pointer;
    transition: background-color 500ms;

    &:active {
      transform: scale(0.98);
    }
  }

  .image-container {
    min-height: 300px;
    padding: 1em;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      cursor: pointer;

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    app-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
