<div class="container">

  <h2>Random photo generator</h2>

  <p>Generate a photo with the given orientation</p>

  <div style="margin: 1em 0">
    <select #orientation (change)="setOrientation(orientation.value)">
      <option value="landscape">Landscape</option>
      <option value="portrait">Portrait</option>
      <option value="squarish">Squarish</option>
    </select>
  </div>

  <button type="button" class="generator-btn" (click)="generate()">Generate</button>

  <div class="image-container">

    <img
    *ngIf="photo"
    [src]="photo.urls.raw + '&w=500'"
    [alt]="photo.alt_description"
    (load)="hideSpinner()"
    (click)="moveToPhotoDetails()"
    oncontextmenu="return false"/>

    <app-spinner [size]="150" *ngIf="displaySpinner"></app-spinner>

  </div>

</div>
