<!-- Desktop navbar -->
<nav class="desktop-navbar" *ngIf="!isMobile">

  <div class="nav-row">
    <span class="logo">GALLERY</span>
  </div>

  <div class="nav-row links-container">

    <a routerLink="/home" class="link">
      <i class="material-icons medium">home</i>
      <span>Home</span>
    </a>

    <a routerLink="/generator" class="link">
      <span>Generator</span>
    </a>

    <a routerLink="/statistics" class="link">
      <i class="material-icons medium">analytics</i>
      <span>Statistics</span>
    </a>

    <a (click)="openSearchBar()" class="link">
      <i class="material-icons medium">search</i>
      <span>Search</span>
    </a>

  </div>

  <div *ngIf="displaySearchBar" class="nav-row search-bar-container">
    <app-search-bar (closed)="closeSearchBar($event)"></app-search-bar>
  </div>

</nav>

<!-- Mobile navbar -->
<nav class="mobile-navbar" *ngIf="isMobile">
  <div class="flex-container">

    <a class="link logo" routerLink="/home">GALLERY</a>

    <button type="button" class="menu" (click)="toggleSidenav()">
      <i [@rotateButton]="isOpen ? 'rotated' : 'normal'" class="material-icons medium">menu</i>
    </button>

    <div [@toggleSidenav]="isOpen ? 'open' : 'closed'" class="sidenav">
      <a class="link" routerLink="/home" (click)="toggleSidenav()">Home page</a>
      <a class="link" routerLink="/generator" (click)="toggleSidenav()">Generator</a>
      <a class="link" routerLink="/statistics" (click)="toggleSidenav()">Statistics</a>
    </div>

  </div>

  <div class="search-bar-container">
    <app-search-bar></app-search-bar>
  </div>

</nav>
