<nav class="navbar">

  <div class="nav-row">
    <span class="logo">GALLERY</span>
  </div>

  <div class="nav-row links-container">

    <a routerLink="/home" class="link">
      <i class="material-icons medium">home</i>
      <span>Home</span>
    </a>

    <a routerLink="/generator" class="link">
      <span>Generator</span>
    </a>

    <a href="#" class="link">
      <i class="material-icons medium">star</i>
      <span>Best photos</span>
    </a>

    <a (click)="openSearchBar()" class="link">
      <i class="material-icons medium">search</i>
      <span>Search</span>
    </a>

  </div>

  <div *ngIf="displaySearchBar" class="nav-row search-bar-container">
    <app-search-bar (closed)="closeSearchBar($event)"></app-search-bar>
  </div>

</nav>
