<nav class="navbar">

  <div class="nav-row">
    <span class="logo">GALLERY</span>
  </div>

  <div class="nav-row links-container">

    <a href="#" class="link">
      <i class="material-icons medium">home</i>Home
    </a>

    <a href="#" class="link">Generator</a>

    <a href="#" class="link">
      <i class="material-icons medium">star</i>Best photos
    </a>

    <a href="#" class="link">
      <i class="material-icons medium">search</i>Search
    </a>

  </div>

  <div *ngIf="false"  class="nav-row search-bar-container">
    <app-search-bar></app-search-bar>
  </div>

</nav>
