@import '../../../assets/styles/variables.scss';

// Desktop navbar
.desktop-navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $black;
  z-index: 10;

  .nav-row {
    text-align: center;

    .logo {
      display: inline-block;
      padding: 0.5em 0;
      font-size: 28px;
      color: $white;
    }
  }

  .links-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: $white;
    box-shadow: 0 2px 5px $black;
    padding: 1em 0;

    .link {
      display: flex;
      align-items: center;
      margin: 0 1em;
      cursor: pointer;
      text-decoration: none;
      color: $black;

      span {
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }

      .material-icons {
        color: $black;
        margin-right: 5px;
      }
    }
  }

  .search-bar-container {
    background-color: $white;
    padding: 1em 0;
    box-shadow: 0 2px 5px $black;
  }
}

// Mobile navbar
.mobile-navbar {
  width: 100%;
  position: sticky;
  background-color: $black;
  top: 0;
  left: 0;
  z-index: 10;

  .flex-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    a.link.logo {
      display: inline-block;
      color: $white;
      font-size: 1.4em;
      text-decoration: none;
      outline: none;
    }

    button.menu {
      display: inline-block;
      background-color: transparent;
      color: $white;
      outline: none;
      border: none;
    }
  }

  .search-bar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .sidenav {
    display: block;
    position: fixed;
    top: 100px;
    width: 50vw;
    height: calc(100vh - 100px);
    background-color: $black;

    .link {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 1em 0;
      color: $white;
      text-decoration: none;
      text-align: center;
      font-weight: 400;
      border-bottom: 1px solid $white;

      &:hover {
        background-color: $lightBlue;
      }
    }
  }

}
