@import '../../../assets/styles/variables.scss';

.progress-spinner {
  display: inline-block;
  border: 3px solid transparent;
  border-top-color: $black;
  border-radius: 50%;
  animation: rotate 700ms linear infinite;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
